{% extends 'birdep/base_birdep.html' %}

{% block title %}Biro & Departemen{% endblock %}

{% comment %}
  Lebar kartu dihitung dari jumlah per baris dan jarak antarkartu:
  (100% - (N-1) x gap) / N. Flex dipakai, bukan grid, supaya baris yang tidak
  penuh (mis. kartu ke-9 di desktop) tetap berada di tengah.
{% endcomment %}

{% block hero %}
{% include 'hero_gold.html' with page_title="Biro &" judul_baris_2="Departemen" logo_miring=True latar_krem=True %}
{% endblock %}

{% block isi %}
<h2 class="sr-only">Daftar Biro &amp; Departemen</h2>

{% comment %}
  Baris atas: PI, KI, dan MDC. Ketiganya bukan BirDep, melainkan kategori
  PengurusInti, sehingga ditulis langsung di sini.
{% endcomment %}
<div class="flex flex-wrap justify-center gap-3 sm:gap-5 lg:gap-6">
  <div class="w-[calc((100%_-_1.5rem)/3)] sm:w-[calc((100%_-_2.5rem)/3)] lg:w-[calc((100%_-_4.5rem)/4)]">
    {% url 'birdep:pi_list' as tautan %}
    {% include 'birdep/components/kartu_unit.html' with tautan=tautan nama="PI" logo="images/Logo-FUKI-Biru.png" logo_bercahaya=True only %}
  </div>
  <div class="w-[calc((100%_-_1.5rem)/3)] sm:w-[calc((100%_-_2.5rem)/3)] lg:w-[calc((100%_-_4.5rem)/4)]">
    {% url 'birdep:ki_list' as tautan %}
    {% include 'birdep/components/kartu_unit.html' with tautan=tautan nama="KI" logo="images/Logo-KI.png" only %}
  </div>
  <div class="w-[calc((100%_-_1.5rem)/3)] sm:w-[calc((100%_-_2.5rem)/3)] lg:w-[calc((100%_-_4.5rem)/4)]">
    {% url 'birdep:mdc_list' as tautan %}
    {% include 'birdep/components/kartu_unit.html' with tautan=tautan nama="MDC" logo="images/Logo-MDC.png" only %}
  </div>
</div>

{# Baris berikutnya: seluruh BirDep dari database. #}
<div class="mt-3 sm:mt-5 lg:mt-6 flex flex-wrap justify-center gap-3 sm:gap-5 lg:gap-6">
  {% for birdep in birdeps %}
  <div class="w-[calc((100%_-_1.5rem)/3)] sm:w-[calc((100%_-_2.5rem)/3)] lg:w-[calc((100%_-_4.5rem)/4)]">
    {% url 'birdep:birdep_tentang' birdep.slug as tautan %}
    {% if birdep.logo_filename %}
      {% include 'birdep/components/kartu_unit.html' with tautan=tautan nama=birdep.nama logo=birdep.logo_url only %}
    {% else %}
      {% include 'birdep/components/kartu_unit.html' with tautan=tautan nama=birdep.nama only %}
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}
