{% load static %}
<nav aria-label="Media sosial FUKI" class="flex items-center justify-center gap-[20.235px] lg:gap-[40.471px]">
  <a href="https://line.me/ti/p/TmqSsuN_Mm" aria-label="LINE FUKI" class="rounded transition-opacity hover:opacity-70 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-[#113665]">
    <img src="{% static 'images/redesign/social-line.svg' %}" alt="" class="h-[25.294px] w-[25.294px] lg:h-[50.588px] lg:w-[50.588px]" />
  </a>
  <a href="https://www.instagram.com/fukifasilkom/" aria-label="Instagram FUKI" class="rounded transition-opacity hover:opacity-70 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-[#113665]">
    <img src="{% static 'images/redesign/social-instagram.svg' %}" alt="" class="h-[30.353px] w-[30.353px] lg:h-[60.706px] lg:w-[60.706px]" />
  </a>
  <a href="https://www.youtube.com/@fukifasilkomui" aria-label="YouTube FUKI" class="rounded transition-opacity hover:opacity-70 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-[#113665]">
    <img src="{% static 'images/redesign/social-youtube.svg' %}" alt="" class="h-[30.353px] w-[30.353px] lg:h-[60.706px] lg:w-[60.706px]" />
  </a>
  <a href="https://x.com/fukifasilkom" aria-label="X FUKI" class="rounded transition-opacity hover:opacity-70 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-[#113665]">
    <img src="{% static 'images/redesign/social-x.svg' %}" alt="" class="h-[25.294px] w-[25.294px] lg:h-[50.588px] lg:w-[50.588px]" />
  </a>
</nav>
